page-login { 
    ion-content {
        background-image: linear-gradient(180deg, #fff, #F5F5F5);

        .logo {
            width: 122px;
            height: 90px;
            display: block;        
            margin: 0 auto;
            margin-top: 15px;
        }
    }  
    
    .not-comercial {
        color: #B0BEC5;
    }     

    .pet-slide {
        width: 128px;
        height: 128px;
        margin-top: 15px;
        margin-bottom: 15px;
    }

    .bt-jump-login {
        color: #7f8c8d;
        margin-top: 15px;
    }    

    .bt-login-face {
        height: 50px;
        background-image: linear-gradient(260deg, #337eb9, #384499);
    }

    .bt-login-google {
        height: 50px;
        background-image: linear-gradient(260deg, #E57373, #F44336);
        margin-top: 20px;
    }

    ion-slides {        
        margin-bottom: 15px;
        height: 55%;

        h3 {
            color: #37474F;
        }
    }
}
