page-login {
    .logo {
        display: block;        
        margin: 0 auto;
        margin-top: 15px;
    }

    .pet-slide {
        margin-top: 15px;
        margin-bottom: 15px;
    }

    .bt-jump-login {
        color: #7f8c8d;
        margin-top: 15px;
    }    

    .bt-login-face {
        height: 50px;
        background-image: linear-gradient(260deg,#337eb9,#384499);
    }

    ion-slides {
        margin-top: 15px;
        margin-bottom: 15px;
        height: 50%;
    }
}
