edit-user {
    ion-toolbar {
        .toolbar-background-md {
            background-image: linear-gradient(260deg, #8bc34a, #4caf50);
        }

        .toolbar-title-md {
            color: #fff;
        }

        ion-icon {
            color: #fff;
        }
    }    
    
    .label-sobre {
        font-size: 1.8rem !important;
        color: #4fb050 !important;
    }

    textarea {
        height: 50px;
    }

    .limit {
        color: #E0E0E0;
        text-align: right;
        margin: 5px 16px 0 16px;
    }

    .container-bt-edit {
        margin: 10px;
    }
}
