page-tab-perfil {    
    .segment-md {
        margin-bottom: 20px;

        .segment-button.activated, .segment-button.segment-activated {
            border-color: #4caf50;
        }        

        .segment-button {
            color: #4caf50;
        }    
    }        
}
