<ion-content>

	<div *ngIf="!waitRequest && locked" class="not-authenticate" padding>
		<p text-center class="txt-login">Para ter acesso ao seu perfil e ao cadastro de pets, é necessário fazer o login.</p>
		<button ion-button round block (click)="facebookLogin()" class="bt-login-face">Fazer login com FaceBook</button>
		<button ion-button round block (click)="googleLogin()" class="bt-login-google">Fazer login com Google</button>
	</div>

	<div *ngIf="locked" class="content-perfil">
		<ion-segment [(ngModel)]="tab">
			<ion-segment-button value="perfil">
				Meu perfil
			</ion-segment-button>
			<ion-segment-button value="pets">
				Meus pets
			</ion-segment-button>
		</ion-segment>
		<div [ngSwitch]="tab">
			<div *ngSwitchCase="'perfil'" class="tab-perfil">
				<div class="img-user-perfil" [style.background-image]="userPicture"></div>
				<h3 class="name-perfil" text-center>{{userInfo.name}}</h3>				

				<ion-card>
					<ion-card-content>
						<ion-list>
							<ion-item>
								<ion-label color="dark" stacked class="label-sobre">Sobre min</ion-label>
								<ion-input type="text" placeholder="Escreva um pouco sobre você" [(ngModel)]="userInfo.description"></ion-input>
							</ion-item>
						</ion-list>
						<p class="limit">300</p>
					</ion-card-content>
				</ion-card>
				<div class="container-bt-editar">
					<button ion-button icon-right block class="bt-sair" round outline color="greenTheme">
						Editar <ion-icon name="create"></ion-icon>
					</button>
				</div>
				<div class="container-bt-sair">
					<button ion-button icon-right block class="bt-sair" round outline color="redTheme">
						Sair <ion-icon name="log-out"></ion-icon>
					</button>
				</div>
			</div>

			<div *ngSwitchCase="'pets'" class="tab-pets">
				<div class="container-bt-add">
					<button (click)="openAddPetPage()" ion-button icon-right block round outline color="greenTheme">
						Adicionar pet <ion-icon name="add"></ion-icon>
					</button>
				</div>

				<ion-card *ngFor="let pet of pets; let i = index; trackBy: id">
					<ion-item>						
						<ion-avatar item-left [ngStyle]="{'background-image': 'url(' + (pet.pictures ? pet.pictures[pet.id + '__0'].picture : 'assets/img/avatar-ts-slinky.png') + ')'}"></ion-avatar>
						<h2>{{pet.name}}</h2>
						<p>{{pet.kind}}, porte {{pet.size}}</p>

						<p class="item-state pet-pending"><ion-icon name="home"></ion-icon> Precisa de um lar</p>
						<ion-badge class="item-likes" color="redTheme"><ion-icon name="heart-outline"></ion-icon> 5 likes</ion-badge>
					</ion-item>
					<ion-fab right bottom>
						<button ion-fab class="fab-map" mini color="greyTheme" (click)="openMenu(pet)">
							<ion-icon name='create'></ion-icon>
						</button>
					</ion-fab>
				</ion-card>				
			</div>
		</div>
	</div>
</ion-content>
