page-tab-perfil {
    .segment-md {
        margin-bottom: 20px;

        .segment-button.activated, .segment-button.segment-activated {
            border-color: #4caf50;
        }

        .segment-button {
            color: #4caf50;
        }
    }

    .not-authenticate {
        .txt-login {
            color: #616161;
            margin-top: 15px;
        }

        .bt-login-face {
            height: 50px;
            background-image: linear-gradient(260deg, #337eb9, #384499);
            margin-top: 20px;
        }

        .bt-login-google {
            height: 50px;
            background-image: linear-gradient(260deg, #E57373, #F44336);
            margin-top: 20px;
        }
    }

    .tab-perfil {        
        .img-user-perfil {
            background-color: #37474F center center;
            background-position: center center;
            width: 130px;
            height: 130px;
            border-radius: 50%;
            background-size: cover;
            margin: 0 auto;
            margin-top: 30px;
            box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.14), 0 4px 5px rgba(0, 0, 0, 0.1);
        }

        .name-perfil {
            color: #37474F;
            margin-bottom: 25px;
        }
        
        .label-sobre {
            font-size: 16px !important;
        }

        .limit {
            color: #B0BEC5;
            text-align: right;
            margin-top: 10px;
        }

        .container-bt-editar, .container-bt-sair {
            margin: 0 10px;
            margin-top: 20px;

            button {
                height: 40px;
            }
        }

        .container-bt-sair {
            margin-bottom: 20px;
        }
    }

    .tab-pets {
        ion-card {
            position: relative;

            ion-avatar {
                border-radius: 50%;
                background-size: cover;
            }
        }

        .item-state {
            margin-top: 10px;

            &.pet-pending {
                color: #FF9800;
            }

            &.pet-donated {
                color: #4caf50;
            }
        }

        .item-likes {
            margin-top: 5px;
        }

        .container-bt-add {
            margin: 10px;
        }
    }
}
