modal-filter {
    .toolbar-background-md {
        background-image: linear-gradient(260deg, #8bc34a, #4caf50);
    }

    .toolbar-title-md {
        color: #fff;
    }

    ion-icon {
        color: #fff;
    }
}
