modal-filter {
    ion-toolbar {
        .toolbar-background-md {
            background-image: linear-gradient(260deg, #8bc34a, #4caf50);
        }

        .toolbar-title-md {
            color: #fff;
        }

        ion-icon {
            color: #fff;
        }
    }

    .list-header-md {
        font-size: 1.8rem;
        color: #4fb050;
    }

    .container-bt-filter {
        margin: 10px;
    }
}
