page-messages {
    ion-content {
        background: url(../assets/img/bg-messages.jpg) center center repeat;
    }

    ion-header {
        .toolbar-background-md {
            background-image: linear-gradient(260deg, #8bc34a, #4caf50);
        }

        .toolbar-title-md {
            color: #fff;
            line-height: 40px;
            width: 95%;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            display: block;
            padding: 0;
        }

        ion-icon {
            color: #fff;
        }

        .photo-resp {
            width: 40px;
            height: 40px;
            border-radius: 50%;
            background-position: center center;
            background-repeat: no-repeat;
            background-size: cover;
            float: left;
            margin-right: 15px;
            box-shadow: 0 2px 2px 0 rgba(0,0,0,.14), 0 3px 1px -2px rgba(0,0,0,.2), 0 1px 5px 0 rgba(0,0,0,.12);
        }
    }

    .message {        
        margin-top: 10px;
        margin-bottom: 10px;
        position: relative;                

        .message-in, .message-out {
            border-radius: 7.5px;
            position: relative;
            box-shadow: 0 1px 0.5px rgba(0,0,0,0.13);
            padding: 10px;                        
        }   

        .message-out {
            background-color: #dcf8c6;            
            margin-left: 50px;       
            margin-right: 20px;                        

            &::after {
                content: '';
                position: absolute;
                width: 0;
                height: 0;                
                right: -10px;
                top: 0px;
                bottom: auto;
                border: 10px solid;
                border-color: #dcf8c6 transparent transparent;
            }
        }     

        .message-in {
            background-color: #fff;     
            margin-right: 50px;
            margin-left: 20px;  

            &::after {
                content: '';
                position: absolute;
                width: 0;
                height: 0;                
                left: -10px;
                top: 0px;
                bottom: auto;
                border: 10px solid;
                border-color: #fff transparent transparent;
            }                      
        }                
    }        
}
