<ion-header>
	<ion-navbar>
		<ion-title>
			Adicionar pet
		</ion-title>
	</ion-navbar>
</ion-header>
<ion-content>
	<div class="container-add-photos">
		<p class="txt-add-photo">Adicione fotos do pet</p>

        <div class="box-photo b1">
			<ion-fab right top #fab1>
				<button ion-fab class="add-pet-photo" custom-mini color="darkTheme" (click)="closeFabs(fab2, fab3)"><ion-icon name='add'></ion-icon></button>
				<ion-fab-list side="left">
					<button (click)="currentPhoto = 0; getPictureCamera(fab1);" ion-fab custom-mini color="primary"><ion-icon name="camera"></ion-icon></button>
				</ion-fab-list>
				<ion-fab-list side="bottom">
					<button (click)="currentPhoto = 0; getPictureLibrary(fab1);" ion-fab custom-mini color="primary"><ion-icon name="image"></ion-icon></button>
				</ion-fab-list>
			</ion-fab>

            <ion-fab top right (click)="deleteImage(0)" *ngIf="false">
                <button ion-fab color="redTheme" custom-mini><ion-icon name="trash"></ion-icon></button>
            </ion-fab>

            <div class="photo" [ngStyle]="{'background-image': (picturesPet.length > 0 ? 'url(' + picturesPet[0].picture + ')' : null)}">
                <h1>1</h1>
            </div>
        </div>
        <div class="box-photo b2">
			<ion-fab right top #fab2>
				<button ion-fab class="add-pet-photo" custom-mini color="darkTheme" (click)="closeFabs(fab1, fab3)"><ion-icon name='add'></ion-icon></button>
				<ion-fab-list side="left">
					<button (click)="currentPhoto = 1; getPictureCamera(fab2);" ion-fab custom-mini color="primary"><ion-icon name="camera"></ion-icon></button>
				</ion-fab-list>
				<ion-fab-list side="bottom">
					<button (click)="currentPhoto = 1; getPictureLibrary(fab2);" ion-fab custom-mini color="primary"><ion-icon name="image"></ion-icon></button>
				</ion-fab-list>
			</ion-fab>

            <ion-fab top right (click)="deleteImage(1)" *ngIf="false">
                <button ion-fab color="redTheme" custom-mini><ion-icon name="trash"></ion-icon></button>
            </ion-fab>

            <div class="photo" [ngStyle]="{'background-image': (picturesPet.length > 1 ? 'url(' + picturesPet[1].picture + ')' : null)}">
                <h1>2</h1>
            </div>
        </div>
        <div class="box-photo b3">
			<ion-fab right top #fab3>
				<button ion-fab class="add-pet-photo" custom-mini color="darkTheme" (click)="closeFabs(fab1, fab2)"><ion-icon name='add'></ion-icon></button>
				<ion-fab-list side="left">
					<button (click)="currentPhoto = 2; getPictureCamera(fab3);" ion-fab custom-mini color="primary"><ion-icon name="camera"></ion-icon></button>
				</ion-fab-list>
				<ion-fab-list side="bottom">
					<button (click)="currentPhoto = 2; getPictureLibrary(fab3);" ion-fab custom-mini color="primary"><ion-icon name="image"></ion-icon></button>
				</ion-fab-list>
			</ion-fab>

            <ion-fab top right (click)="deleteImage(2)" *ngIf="false">
                <button ion-fab color="redTheme" custom-mini><ion-icon name="trash"></ion-icon></button>
            </ion-fab>

            <div class="photo" [ngStyle]="{'background-image': (picturesPet.length > 2 ? 'url(' + picturesPet[2].picture + ')' : null)}">
                <h1>3</h1>
            </div>
        </div>
	</div>

	<ion-list>
		<ion-item>
			<ion-label stacked class="label-nome">Nome do pet</ion-label>
			<ion-input [(ngModel)]="pet.name" type="text" placeholder="Escreva o nome do pet"></ion-input>
		</ion-item>
		<ion-item>
			<ion-label stacked class="label-sobre">Sobre o pet</ion-label>
            <ion-textarea [(ngModel)]="pet.about" maxlength="150" placeholder="Escreva um pouco sobre o pet"></ion-textarea>
		</ion-item>
		<p class="limit">{{150 - pet.about.length}}</p>
		<ion-item>
			<ion-label stacked class="label-breed">Raça do pet</ion-label>
			<ion-input [(ngModel)]="pet.breed" type="text" placeholder="Escreva a raça do pet"></ion-input>
		</ion-item>
	</ion-list>

	<ion-item>
		<ion-label class="label-kind">Categoria do pet</ion-label>
		<ion-select [(ngModel)]="pet.kind" cancelText="Cancelar" okText="Ok">
			<ion-option value="dog">Cachorro</ion-option>
			<ion-option value="cat">Gato</ion-option>
			<ion-option value="others">Outros</ion-option>
		</ion-select>
	</ion-item>

	<ion-item>
		<ion-label class="label-size">Porte do pet</ion-label>
		<ion-select [(ngModel)]="pet.size" cancelText="Cancelar" okText="Ok">
			<ion-option value="small">Pequeno</ion-option>
			<ion-option value="medium">Médio</ion-option>
			<ion-option value="large">Grande</ion-option>
		</ion-select>
	</ion-item>

    <ion-list radio-group [(ngModel)]="pet.genre">
        <ion-list-header>
            Sexo
        </ion-list-header>
        <ion-item>
            <ion-label>Macho</ion-label>
            <ion-radio value="male" color="dark"></ion-radio>
        </ion-item>
        <ion-item>
            <ion-label>Fêmea</ion-label>
            <ion-radio value="female" color="dark"></ion-radio>
        </ion-item>
    </ion-list>

    <ion-list>
        <ion-list-header>
            Idade
            <ion-badge color="greenTheme" item-right *ngIf="pet.ageYears > 0 || pet.ageMonths > 0">
                {{ pet.ageYears > 0 ? (pet.ageYears == 1 ? pet.ageYears + ' ano' : pet.ageYears + ' anos') : '' }}
                {{ pet.ageYears > 0 && pet.ageMonths > 0 ? ' e ' : '' }}
                {{ pet.ageMonths > 0 ? (pet.ageMonths == 1 ? pet.ageMonths + ' mês' : pet.ageMonths + ' meses') : '' }}
            </ion-badge>
        </ion-list-header>
        <ion-item>
            <ion-range min="0" max="30" pin="true" [(ngModel)]="pet.ageYears" color="greenTheme">
                <ion-label range-left class="small-text">Anos</ion-label>
                <ion-label range-right>Anos</ion-label>
            </ion-range>
        </ion-item>
        <ion-item>
            <ion-range min="0" max="11" pin="true" [(ngModel)]="pet.ageMonths" color="greenTheme">
                <ion-label range-left class="small-text">Meses</ion-label>
                <ion-label range-right>Meses</ion-label>
            </ion-range>
        </ion-item>
    </ion-list>

	<div class="container-bt-add">
		<button (click)="postPets()" ion-button icon-right block round outline color="greenTheme">
			{{ editMode ? 'Atualizar' : 'Adicionar'}} pet
			<ion-icon *ngIf="!editMode" name="add"></ion-icon>
			<ion-icon *ngIf="editMode" name="create"></ion-icon>
		</button>
	</div>
</ion-content>
