page-tab-search {
    ion-item {
        ion-icon, p {
            color: #666;
        }
    }

    ion-fab {
        opacity: .9;

        &.notlikePet {
            right: 90px;
        }
    }

    .info-pet {
        ion-icon, p {
            color: #2196F3;
        }
    }

    .container-bt-filter {
        margin: 10px;
    }

    .container-searching {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0px;
        left: 0px;

        .overlay-block {
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0px;
            left: 0px;
            background: rgba(255, 255, 255, 0.7);
        }

        .searching-info {
            width: 100%;
            position: absolute;
            top: 50%;
            transform: translateY(-50%);

            img {
                display: block;
                margin: 0 auto;
            }

            p {
                text-align: center;
                font-size: 18px;
                color: #616161;
            }
        }
    }

    .swiper-pagination-bullet {
        background: #fff;
        opacity: .9;
        box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
    }

    .swiper-pagination-bullet-active {
        background: #4caf50;
        opacity: 1;
        box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
    }

    /*ng-class*/
    .zIndex1 {
        z-index: 1;
    }

    /*animations
        exemplos: animation-timing-function: linear|ease|ease-in|ease-out|ease-in-out|step-start|step-end|steps(int,start|end)|cubic-bezier(n,n,n,n)|initial|inherit;
    */

    @-webkit-keyframes animaNotlikePet {
        0%   { -webkit-transform: translate3d(0,0,0); }
        100% { -webkit-transform: translate3d(-110%,0,0); }
    }

    .anima-notlikePet {
        -webkit-animation: animaNotlikePet linear 1;
        animation: animaNotlikePet linear 1;
        -webkit-animation-fill-mode: forwards;
        animation-fill-mode: forwards;
        -webkit-animation-duration: 300ms;
        animation-duration: 300ms;
    }

    @-webkit-keyframes animaLikePet {
        0%   { -webkit-transform: translate3d(0,0,0); }
        100% { -webkit-transform: translate3d(110%,0,0); }
    }

    .anima-likePet {
        -webkit-animation: animaLikePet linear 1;
        animation: animaLikePet linear 1;
        -webkit-animation-fill-mode: forwards;
        animation-fill-mode: forwards;
        -webkit-animation-duration: 300ms;
        animation-duration: 300ms;
    }

    @-webkit-keyframes animaContainerSearching {
        0%   { opacity: 0.0 }
        100% { opacity: 1.0 }
    }

    .anima-container-searching {
        -webkit-animation: animaContainerSearching linear 1;
        animation: animaContainerSearching linear 1;
        -webkit-animation-fill-mode: forwards;
        animation-fill-mode: forwards;
        -webkit-animation-duration: 1000ms;
        animation-duration: 1000ms;
    }
}
