page-tab-search {
    .scroll-content {
        padding: 0px !important;
    }

    .container-bt-filter {
        background-image: linear-gradient(260deg, #8bc34a, #4caf50);
        padding: 10px;
        padding-top: 5px;

        .bt-filter {            
            margin: 0px;
            border-color: #fff;            
            color: #fff;
        }
    } 

    .swiper-pagination-bullet {
        background: #fff;
        opacity: .9;
        box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
    }
    
    .swiper-pagination-bullet-active {
        background: #4caf50;
        opacity: 1;
        box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
    }
}
