<ion-content>
	<div class="container-bt-filter">
		<button ion-button icon-right block round color="greenTheme" outline (click)="openModal()">
			Filtros <ion-icon name="options"></ion-icon>
		</button>
	</div>

    <div class="container-searching" *ngIf="anima.containerSearching" [ngClass]="{'anima-container-searching': anima.containerSearching }">
        <div class="overlay-block"></div>

        <div class="searching-info">
		    <img src="assets/img/searching.gif">
            <p>Procurando pets perto de você...</p>
        </div>
    </div>

	<ion-card id="current-card-pet" class="card-pet" *ngIf="!waitRequest" [ngClass]="{'anima-card-pet': anima.cardPet, 'anima-likePet': anima.likePet, 'anima-notlikePet': anima.notlikePet }" #currentCardPet>
		<ion-item>
			<ion-avatar item-left [ngStyle]="{'background-image': 'url(' + bgAvatarResp + ')'}"></ion-avatar>
			<h2>Luís Inacio Lula da Silva</h2>
			<p>Responsável</p>
		</ion-item>

		<ion-slides pager loop="true">
			<ion-slide>
				<img src="assets/img/rex-bg.jpg">
			</ion-slide>
			<ion-slide>
				<img src="assets/img/teste_vertical.jpg">
			</ion-slide>
			<ion-slide>
				<img src="assets/img/rex-bg-2.jpeg">
			</ion-slide>
		</ion-slides>

		<ion-card-content>
			<ion-card-title>
				Joaquim
			</ion-card-title>

			<p>Wait a minute. Wait a minute, Doc. Uhhh... Are you telling me that you built a time machine... Wait a minute. Wait a minute, Doc. Uhhh... Are you telling me that you built a time machine...</p>
		</ion-card-content>

		<ion-item>
			<ion-icon name="paw" item-left large></ion-icon>
			<h2>Cachorro</h2>
			<p>Porte grande</p>
		</ion-item>
		<ion-item>
			<ion-icon name="pin" item-left large></ion-icon>
			<h2>Distância</h2>
			<p>7 Km</p>
		</ion-item>
	</ion-card>

	<ion-fab bottom right class="notlikePet" (click)="notlikePet()" [ngStyle]="{'z-index': zIndexFabs}">
    	<button ion-fab color="redTheme"><ion-icon name="close"></ion-icon></button>
  	</ion-fab>

	<ion-fab bottom right class="likePet" (click)="likePet()" [ngStyle]="{'z-index': zIndexFabs}">
    	<button ion-fab color="greenTheme"><ion-icon name="heart-outline"></ion-icon></button>
  	</ion-fab>
</ion-content>
